<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Artist</title>
</head>
<body>
  <h2>Enter a new artist!</h2>
  <form action="/artists" method="post">
    <label for="name">Artist name: </label>
    <input type="text" name="name" id="name">

    <label for="genre">Artist genre: </label>
    <input type="text" name="genre" id="genre">

    <input type="submit" value="Add artist">
  </form>
</body>
</html>